body {
  background-image: url("https://media.giphy.com/media/ArYyMzY10qNnq/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: lightgray;
}

.letter {
  background-image: url("https://media.giphy.com/media/ArYyMzY10qNnq/giphy.gif");
  background-size: cover;
  color: black;
  font-size: 3em;
}
