@{
  Layout = "_Layout";
}

<h2>Plan a real good flight!</h2>
<h3>@Model</h3>
<form action="/city/create">
  <label for="city">Where Do You Want To Go? </label>
  <input id="city" name="city" type="date">

    <button type="submit">Submit</button>
</form>
